# (optional) list included test IDs here, eg '[B101, B406]':
tests:

# (optional) list skipped test IDs here, eg '[B101, B406]':
skips:

# We exclude the tests because there are two "errors" throughout them that we
# don't want to skip as a rule, but which are acceptable in tests.  They are
# "B101: assert_used" (a problem for compiling to bytecode, but these are tests)
# and "B106: hardcoded_password_funcarg" (we definitely don't want any hardcoded
# passwords or tokens in the code, but naturally the tests have a hardcoded
# token, "fake").
exclude_dirs:
  - ./tests/
